* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
  font-family: 'Open Sans',
    sans-serif;
  counter-reset: section;
  color: $sc;
}

a {
  text-decoration: none;
  transition: $tr;
}

img {
  width: 100%;
  max-width: 100%;
}

ul {
  li {
    list-style: none;
  }
}



// select
.select {
  position: relative;
  
  &__checked {
    position: relative;
  }

  &__checked,
  &__option {
    text-transform: uppercase;
    transition: $tr;
    cursor: pointer;
    margin-bottom: 4px;

    &:hover {
      color: $mc;
    }
  }

  &__option {
    line-height: 20px;
    font-family: $ga;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__dropdown {
    display: none;
    position: absolute;
    left: 0;
  }
}

// select end