//- .activities
//-   .container
//-     .swiper-container.activities-js
//-       .swiper-wrapper
//-         mixin activitiesKind(img, heading)
//-           .swiper-slide
//-             .activities__kind
//-               img(src=img, alt="")
//-               .activities__heading=heading
//-         +activitiesKind('assets/img/activities/1.jpg','12312Кабинеты психолого- педагогической коррекции')
//-         +activitiesKind('assets/img/activities/2.jpg','Открываем мир')
//-         +activitiesKind('assets/img/activities/3.jpg','Детские инклюзивные игровые площадки')
//-         +activitiesKind('assets/img/activities/4.jpg','Развитие талантов')
//-         +activitiesKind('assets/img/activities/4.jpg','Развитие талантов')
//-       .swiper-scrollbar
//-       .navigation
//-         .swiper-button-next
//-         .swiper-button-prev






//-     article.tile
//-       figure.tile__figure
//-         img.tile__image(data-src='/assets/img/activities/1.jpg' data-hover='assets/img/activities/2.jpg' alt='My image' width='400' height='300')



//-     <canvas id="stage"></canvas>